/* Google Fonts */
#bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* hero */
#span{
    color: #363958;
}

/* jAKET */
body{
    cursor: pointer;
}











/* Responsive Design for mobail */
@media screen and (max-width:576px) {
    /* hero */
    #header{
        height: auto;
        padding-bottom: 40px;
    }
    #hero-container{
        flex-direction: column-reverse;
    }
    #bebas-neue-regular{
        font-size: 35px;
        text-align: center;
        margin-top: 20px;
    }
    #hero-dspt{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    #hero-btn{
        font-size: 20px;
    }
    #center{
        text-align: center;
    }
    #hero-img{
        width: 100%;
    }
    #navbar{
        flex-direction: column;
    }
    #nav-meno{
        flex-direction: column;
        display: none;
    }
    /* main */
    #main{
        width: 90%;
        margin: auto;
    }
    /* jaket */
    #jaket-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #jaket-title{
        text-align: center;
        font-size: 25px;
    }
    /* perfect */
    #container{
        flex-direction: column;
    }
    #perfect-img{
        margin-top: 40px;
    }
    #flex{
        flex-direction: column;
    }
    #img{
        margin: auto;
        width: 80px;
    }
    #h2{
        font-size: 20px;
        text-align: center;
    }
    #p{
        text-align: center;
        width: 90%;
        margin: auto;
    }
}